[2015-02-03 16:20] liam-middlebrook opened #1 "Missing LICENSE?"
First, the standard disclaimer: I am not a lawyer, and this does not constitute legal or financial advice.

Generally, IMHO, it is a good idea to use FSF or OSI Approved Licenses (which can be found here https://www.gnu.org/licenses/licenses.html and here http://opensource.org/licenses/category)

The Free Software Foundation has a useful guide for choosing a license: https://www.gnu.org/licenses/l

[2015-02-03 16:54] #1 closed, assigned to nobody

[2015-02-05 17:17] harlanhaskins opened #7 "Fixed size for the main container doesn't allow for wrapping text."
Here's a screenshot:

![screen shot 2015-02-05 at 12 16 40 pm](https://cloud.githubusercontent.com/assets/853032/6065146/f293efe8-ad30-11e4-8973-258875fc902b.png)

[code]

[2015-02-05 17:24] ralphbean commented on #7
Agreed!

[2015-02-05 18:48] #7 closed

[2015-02-14 20:22] Cydrobolt opened #13 "Let's use JSON"
JSON will allow us to have more flexibility with strings and data types, as well as the freedom of having long strings without worrying about YAML issues.

JSON should work pretty well with Python, and I can probably write a YAML -> JSON script to convert our current questions.

[2015-02-14 21:02] bkerensa opened #14 "Fedora's Asknot Instance still uses $ORG in description"
Fedora's Asknot Instance still uses $ORG in description

[2015-02-14 23:56] ralphbean commented on #14
Where do you see it?

[2015-02-15 02:48] relrod commented on #13
I've generally seen it advised against using JSON for configuration files because it's meant to be a serialization format (to transfer data) rather than to be human readable/changeable.

I'm curious what issues we are seeing with long strings in YAML. You can do multi-line YAML strings like this:

To preserve newlines:

[code]

To eat newlines:

[code]

What flexibility in strings and data types i

[2015-02-15 02:49] ralphbean commented on #13
I'd add, I think we're only using stringy data types at the moment.  No numerics or booleans yet afaik.

[2015-02-18 16:02] ralphbean commented on #13
Respectfully, I'm going to reject this issue.

YAML is nice to edit, in my opinion and JSON doesn't appear to give us anything we need (like types.. everything is a string to us in asknot-ng).  Thanks for suggesting this!

[2015-02-18 16:02] #13 closed

[2015-02-18 18:04] #14 closed

[2015-02-18 18:53] comzeradd opened #16 "Localization"
What will be used for localization? I did the first implementation work on the original project for using webL10n javascript library. I could help adding it here too.

[2015-02-18 19:05] ralphbean commented on #16
Hey!  I cooked up my own thing that I _think_ works pretty well.

You can extract a `.pot` file with the commands mentioned here:  https://github.com/fedora-infra/asknot-ng#preparing-translations

Then I was going to push that to zanata to get translated `.po` files back.

When those get compiled in `.mo` files, the `asknot-ng.py` script will find those and generate distinct copies of the site for

[2015-02-19 18:11] halfline opened #18 "The "i'm interested" and "not interested" (green and pink buttons) move around as you're clicking"
= bug description =
The "i'm interested" and "not interested" (green and pink buttons) move around as you're clicking.

= bug analysis =
The buttons change size so they jump around.

= fix recommendation =
It would be good if the left button was right aligned to the center of its parent and the right button was left aligned (so the gap between them never moves)

[2015-02-19 18:14] Sadin commented on #18
Im looking into it.

[2015-02-19 18:18] halfline opened #19 "No convenient way to go back after accidentally click "not interested""
If i'm quickly cycling through the categories and accidentally click not interested on one that i want to dive into, i have to cycle all the way through them again.

I think a slight improvement to the user experience would be to put back and forward triangles on the left and right side (respectively) of the inset category description

[2015-02-19 18:19] halfline commented on #19
Note, these triangles wouldn't replace the "not interested" button, but supplement it.  the left triangle would go back, and the right triangle would do the same thing as the "not interested" button.

[2015-02-19 18:29] Sadin commented on #19
You essentially want an "oops, take me back button" which can be done. I dont think arrows would be a good idea though, that's just my personal opinion.

[2015-02-19 18:29] ralphbean commented on #19
I'd add that I'm using the html5 `.pushState` stuff in there which was _supposed_ to let you use the back button in your browser.  But I'm not sure it's working.

[2015-03-02 18:57] Sadin commented on #18
Do we have a problem with stacking the buttons like [whatcanidoformozilla ](http://whatcanidoformozilla.org) does? I personally like it a lot better, but that's just my opinion.

Example:
![Example Image](http://i.imgur.com/6hKWkjc.png)

[2015-03-02 18:58] Sadin commented on #18
@ralphbean The above addresses the "mis-click" due to the varying button sizes due to the messages within them.

Another note: Stacking the buttons will look a lot nicer from a mobile-first perspective, imo.

[2015-03-02 20:02] #18 closed

[2015-03-02 20:47] Sadin opened #22 "Text overlap in mobile view"
Some things still tend to overlap on smaller devices, or run off screen in portrait orientation.
I will play around with various viewports, scale text down accordingly, and check spacing, as I believe that's the issue.

Some examples:
![Example A](http://i.imgur.com/ZfBbKnT.png)
![Example B](http://i.imgur.com/kxZesfU.png)

[2015-03-15 01:55] Sadin opened #24 "Gestures"
As we adjust the application to work/look better in mobile ( see issue: #22 ), would possibly like to further mobile support by adding gesture events with http://hammerjs.github.io/ ?

Example: Swipe Left to quickly go back, right to see the next option, up to go down a level and learn more, or swipe down to go back to the top level if possible.

[2015-03-15 15:14] cydrobolt commented on #24
IMHO I don't think we should add gestures. I've had a relatively bad experience with them, and they glitch up or cause unintended actions.

I try to avoid them as much as possible, even switching to desktop mode in order to read something without getting taken off the page.

[2015-03-15 18:13] Sadin commented on #24
@Cydrobolt hey thanks for your input! The idea just dawned on my while I was working on something else and thought it couldn't hurt to ask.

[2015-03-16 13:48] ralphbean commented on #24
I don't have any experience with gestures/hammerjs (good or bad), so I can't really comment.

I guess I'll go ahead and close this for now?  Please re-open if there's further discussion!

[2015-03-16 13:48] #24 closed

[2015-08-15 12:28] sils1297 opened #27 "locale directory is not fedora agnostic"
this repo seems to be generic and usable for other orgs, so for a new org a new theme and set of questions can be easily created. It would make sense if there would be a subfolder for translations for each org too.

[2015-08-15 13:15] ralphbean commented on #27
:+1:

[2015-08-15 13:28] sils1297 opened #28 "NameError on installation"
[code]

looks reasonable from code...

[2015-08-15 14:05] ralphbean commented on #28
Oh, you must be using python3!  If you use python2, it should work (on the other hand, we should support python3 -- this is just a bug).

[2015-08-15 14:10] sils commented on #28
plus I did the virtualenv stuff so you should probably explicitly use
python2

2015-08-15 16:05 GMT+02:00 Ralph Bean notifications@github.com:

[2015-08-15 14:20] sils1297 opened #29 "Questions aren't shown when using an exclamation mark in title"
just use `title: Visuals!` and the whole page will render incorrectly, will provide more extensive information in case this doesn't suffice to reproduce.

[2015-08-15 14:48] sils commented on #29
also applies to comma AFAICT

[2015-08-15 15:10] sils opened #31 "Add compile script"
Would be nice to be able to compile a question theme combination with just one command including translations. I see no need for copying five dumb commands again and again when a single python script with a few params could do the job.

[2015-08-15 16:31] ralphbean commented on #31
Yes, this would be nice to have.

[2015-08-15 16:32] #29 closed

[2015-08-15 16:37] sils commented on #16
Related: I'd recommend using rultor for merging PRs and automatically upload translations to zanata in the rultor script. If you also use rultor to make releases you can automatically deploy the page and pull translations from zanata before doing that - a fully automated workflow. We've set up this for coala-analyzer/coala and it's awesome, contact me if you want that so I can help.

[2015-08-15 16:37] sils commented on #16
related bug: https://github.com/fedora-infra/asknot-ng/issues/27

[2015-08-15 16:37] ralphbean commented on #28
OK - this is fixed in 6b2b1dc605 and #34 finishes off python3 support.

[2015-08-15 16:38] #28 closed

[2015-08-15 16:43] ralphbean commented on #16
I'd say a tentative "no" to rultor for now.  We share the same :+1: review process across all the fedora-infra repos, so we'd need to talk about it more to make sure the team's on board.  It's not open source, is it?  That's not a blocker (we're using GitHub) but we're trying to minimize our proprietary tools (see https://pagure.io).

[2015-08-15 16:44] sils commented on #16
Rultor is open source, otherwise I wouldn't recommend it. We're trying hard
to switch to gitlab btw. but the lack of hosted continuous integration
makes it hard. Rultor is at https://github.com/yegor256/rultor/ .

2015-08-15 18:43 GMT+02:00 Ralph Bean notifications@github.com:

[2015-08-15 16:45] sils commented on #28
I can confirm the fix btw. :)

[2015-08-15 16:58] sils opened #36 "Visual problem in default theme"

[2015-08-15 16:58] sils commented on #36
sorry, github understood something else when I pressed enter accidentally, dewscription follows shortly.

[2015-08-15 17:00] sils commented on #36
The screenshot below appears for me when I generate the coala questions with the default template from current master:

![screenshot from 2015-08-15 18-58-53](https://cloud.githubusercontent.com/assets/5716520/9289941/b89fcb32-437f-11e5-82ce-7b8725435ca0.png)

As you can see the right half of the exclamation mark is cut off. This also happens to other chars and questions but it is not that obvious

[2015-08-15 18:04] ralphbean commented on #31
Noting here that we have a shell script that only does the translation compilation here:  https://github.com/fedora-infra/asknot-ng/blob/develop/compile-translations.sh

[2015-08-15 18:25] #27 closed

[2015-08-15 19:11] sils1297 opened #40 "Add plain and simple server upload instructions"
When I upload the whole build directory to my server and redirect the URL to en/index.html weird things happen and it appears to not be able to find the bootstrap theme until I revert https://github.com/fedora-infra/asknot-ng/commit/81f975779a8f42cb1293fb542a093a09e7c6270e .

[2015-08-15 19:53] ralphbean commented on #40
As discussed in IRC, the issue is that a directory is now a symlink, so (if served under apache) you have to include "Options FollowSymLinks" inside the <Directory> entry in the apache config.

[2015-08-15 19:59] sils commented on #40
/me looks up if he's allowed to do that...

2015-08-15 21:53 GMT+02:00 Ralph Bean notifications@github.com:

[2015-08-15 20:06] sils commented on #40
I really need to switch... I'm not allowed to change that it seems. Would be nice if the stuff would work without needing to change restricted environments.

[2015-08-15 20:22] ralphbean commented on #40
Yes.  :/  There are hooks in the repo which should allow you to run somewhat painlessly in openshift, if that helps.

[2015-08-16 12:05] sils1297 opened #41 "Image Licensing"
Uhm, I introduced the fedora background image, not sure how that one's licensed, maybe it needs to be mentioned? I hate licensing.

[2015-08-16 12:15] puiterwijk commented on #41
Well, if you do not do licensing, the FPCA (https://fedoraproject.org/wiki/Legal:Fedora_Project_Contributor_Agreement) gets into effect, which for content says: CC-BY-SA supplemented by Moral Rights Clause Waiver and GPL Relicensing Permission.

Disclaimer: IANAL, someone else might have better info, but this is what the FPCA is for.

[2015-08-16 18:07] sils opened #42 "YML Inconsistency link vs. href"
See https://github.com/fedora-infra/asknot-ng/blob/develop/questions/coala.yml#L31 and https://github.com/fedora-infra/asknot-ng/blob/develop/questions/coala.yml#L39 . I'd prefer just setting link everywhere consistently.

[2015-09-04 08:48] sils1297 opened #43 "Compress fedora bg image"
takes too long to load on whatcanidoforfedora.org and is an unpleasant experience.

[2015-09-20 18:32] sagarhani commented on #43
@sils1297 The current size of background image is 1.4 MB (1,420,123 bytes).
Shall I reduce it to 100 KB ?
Page will load faster and quality of the image looks the same.

[2015-09-20 18:39] sils commented on #43
I also noticed that - would be great. Could you also do this for the coala
background image?

Thanks.
On Sep 20, 2015 8:32 PM, "Sagar Hani" notifications@github.com wrote:

[2015-09-20 19:02] sagarhani commented on #43
@sils1297 Sure. :+1:
Shall I reduce the coala background image to 100 KB ?

[2015-09-20 20:01] sils commented on #43
Sure, let's see how that looks.
On Sep 20, 2015 9:02 PM, "Sagar Hani" notifications@github.com wrote:

[2015-09-21 00:33] #43 closed

[2015-09-22 15:16] sagarhani commented on #43
@ralphbean Do I need to reduce the size of coala background image also?

[2015-09-22 15:56] ralphbean commented on #43
If you'd like to, yes.  I think they would appreciate it :)

[2015-09-22 16:02] sils commented on #43
We would of course :)

2015-09-22 17:56 GMT+02:00 Ralph Bean notifications@github.com:

[2015-09-22 16:17] sagarhani commented on #43
Done. :+1:

[2015-09-26 16:51] sils commented on #43
@sagarhani many thanks!

[2015-09-30 20:01] sils commented on #40
@ralphbean is there any workaround?

[2015-09-30 20:04] sils commented on #40
Ah replace the bootstrap symlink with the real directory. Anything against doing that in the real repo?

[2015-09-30 20:12] ralphbean commented on #40
no, that's fine.  go for it!

[2015-10-01 09:18] sils opened #49 "Add option to turn off l10n"
We don't really want that for e.g. coala, because it refers to english pages anyways sooner or later.

[2015-10-01 11:35] sils commented on #41
Well IANAL too and since we're using our own stuff I don't think it'll be that much of a problem, still we should probably attribute the images in the README or so to be sure and point out from where they're taken, that they're CC licensed?

This also applies to https://github.com/fedora-infra/asknot-ng/pull/50 .

[2015-10-01 13:46] ralphbean commented on #41
@sils1297 where did you get the background image?  That would help to track down attribution.

[2015-10-01 13:55] sils commented on #41
@ralphbean tbh I installed fedora and there's a "backgrounds" directory somewhere containing those images...

[2015-10-01 14:04] ralphbean commented on #41
We'll have to ping the Fedora design-team next.  They'd have more information.

[2015-10-01 14:14] ralphbean commented on #41
Thanks to a pointer from @sadin, it looks like the wallpaper is [this one](https://fedoraproject.org/wiki/F22_Artwork) by @ryanlerch!

[2015-10-01 14:17] Sadin commented on #41
Good thing I store class notes on github and I saw this :+1:

[2015-10-07 08:29] ryanlerch commented on #41
If it is this one -- https://fedoraproject.org/wiki/File:F22_alpha_wp.png -- then it is def CC licenced :) -- feel free not to have to attribute me either, TBH :)

[2015-10-08 18:04] trishnaguha opened #53 "asknot-ng does not link it to https://github.com/fedora-infra/asknot-ng"
On the bottom of the page http://whatcanidoforgnome.org/ , asknot-ng does not link it to https://github.com/fedora-infra/asknot-ng. It just redirects it to http://whatcanidoforgnome.org/
It only works for "open in a new tab".

[2015-10-08 18:30] ralphbean commented on #53
/cc @sils1297 any ideas here?

[2015-10-08 18:33] abhishekarora12 commented on #53
http://whatcanidoforgnome.org has an iframe which redirects to http://gnome.schuirmann.net/, but the link works fine there, so i think the bug is in the iframe.
Adding target='_top' in the iframe might fix it.

[2015-10-27 01:10] cydrobolt commented on #53
This works for me. Is this still relevant?

[2015-10-27 09:16] sils commented on #53
I'm still experiencing this.

[2015-10-28 03:58] trishnaguha commented on #53
@sils1297 Can we get the source code? I am not able to find it.
Thanks :)

[2015-10-28 08:37] sils commented on #53
This source code isn't stored anywhere, Alexandre (who has the domain) just
needs some time to fix it. I'll ping him again for sure.
On 28 Oct 2015 4:58 a.m., "Trishna Guha" notifications@github.com wrote:

[2015-10-28 13:08] afranke commented on #53
The way this is setup is I simply configured the redirection with my domain registrar (gandi) and they do the iframe thing. I don't have my hands on the iframe code, so I can't fix that. The proper way to fix that would actually be to get rid of that redirection and have a proper DNS setup, because the iframe is also bad for SEO. I'd need a fixed IP instead of http://gnome.schuirmann.net/ for that

[2015-10-28 16:10] sils1297 opened #54 "Make openShift configuration environment dependent"
We'd like to ship the whatcanidoforgnome.org website with openshift too and the best thing to do is probably to also use this repository and mane the choice of theme and question set dependent on environment variables defined in the OPenShift environment.

I'll probably look into that this weekend, if anyone has a bit more openShift knowledge and knows how we can do this best I'd of course appreci

[2015-10-28 17:26] ralphbean commented on #54
I aimed to be able to do this already, so hopefully it will just work.

You should be able to set environment variables on your openshift app, and asknot-ng should look for them in the `.openshift/action_hooks/build` script.  Take a look at the `ASKNOT_THEME` var there for an example.

[2015-10-28 18:06] sils commented on #54
Ah that is awesome! Will close this as soon as it works :) Thanks!

2015-10-28 18:26 GMT+01:00 Ralph Bean notifications@github.com:

[2015-10-28 18:17] sils commented on #54
Do you deploy to a DIY cartridge, like:

rhc app create askgnome diy --from-code
https://github.com/fedora-infra/asknot-ng

2015-10-28 19:06 GMT+01:00 Lasse Schuirmann lasse.schuirmann@gmail.com:

[2015-10-28 18:22] ralphbean commented on #54
Yes.  It has been a while since I set it up and I'm no OpenShift expert, but that looks correct to me.

[2015-10-28 20:52] sils commented on #54
Ah, for that to work smoothly you'll probably want to reset master to
develop after all, otherwise people trying this will only get a 503.

2015-10-28 19:22 GMT+01:00 Ralph Bean notifications@github.com:

[2015-10-28 20:55] cydrobolt commented on #53
Ah, I see why I thought it was working. I have a habit of always using CTRL+click on links to open them in a new tab. Apparently, clicking on the link without the CTRL causes it to be broken.

[2015-10-28 20:57] cydrobolt commented on #53
@afranke yes, it would be much more preferable to set up DNS to avoid using an `iframe`. It looks like an OpenShift configuration may work for your case.

Let me know if there's anything I can help with :)

[2015-10-28 21:06] afranke commented on #53
@sils1297 is going to install it on Openshift and @puiterwijk will set up a proxy on the GNOME infrastructure to allow us to use both www and naked domain name.

[2015-10-28 21:10] sils commented on #53
Speaking of which, it's up on http://askgnome-coalas.rhcloud.com/ .
@afranke , I am a bit short on free gears because I'm also using openshift
for evaluating a bigger project that might well expand over some gears, I'd
prefer if somebody else could provide the gear. I'm adding generic
OpenShift deployment information in a minute.

2015-10-28 22:06 GMT+01:00 Alexandre Franke notifications@github.co

[2015-11-02 14:50] #54 closed

[2015-11-03 23:34] Sadin commented on #41
Is this okay to be closed?

[2015-11-04 00:50] ralphbean commented on #41
We should probably add a note to the README about the license status and then call it closed.

[2015-11-04 02:39] ralphbean commented on #41
Fixed by @Sadin in #56.

[2015-11-04 02:39] #41 closed

[2015-12-01 14:44] ralphbean commented on #19
Should be fixed by #62.  Thanks @cydrobol!

[2015-12-01 14:44] #19 closed

[2016-04-28 05:24] Jibec commented on #49
Hi, why would you do that ?
You may write that this project is working in English only, won't it be sufficient ?

[2016-04-28 05:31] Jibec opened #69 "[l10n] please automatically push content from Fedora.Zanata"
Hi, can you please update regularly content from Zanata like other Fedora Websites ?
As this website strings are very context related, it's easier for us to see progress and check the correctness of translation.

In the meanwhile, if this task isn't trivial, can you manually push all po file from every languages ? I wrote an email to "trans" ml, and we have now 2500 new words translated.

Thanks a

[2016-04-28 07:06] sils commented on #49
There's a menu allowing the user switching languages, that doesn't work well without translations.

[2016-04-28 10:22] Jibec commented on #49
The menu on the bottom right with "Change Language" ? The only issue I see is loosing the anchors. Can you please more description about the issue ?
Note : what is coala ?

[2016-04-28 10:29] Jibec commented on #49
oh... I just understood, asknot-ng is the source code of an app that is use to make "whatcanidofor***" website.
And here, we have one depot mixing the app source and the different instances of the app. I assume it's for maintenance reason. @ralphbean would it be possible and good to make one repository for the app source code and one for each instance ? Include whatcanidoforfedora in current websi

[2016-04-28 13:15] ralphbean commented on #69
I'm not sure how we would go about doing this automatically.

The site is served from openshift.  We could do it with a cronjob on sundries01 to:
- clone from github
- pull from zanata
- commit
- push to github
- push to openshift
- remove the local checkout

And.. that could do it.  Say, once a day?

[2016-04-28 19:58] Jibec commented on #69
great new !

I don't know the origin of this, but other Fedora Website are updated twice a day. May you do the same so contributors don't get confused ?
You may have some information about this website in https://fedoraproject.org/wiki/Websites/workflow or you may talk with robyduck

In the same time, it would be great if you can take the opportunity to give a more explicit project name in Zanata.

[2016-04-29 07:32] phracek commented on #69
Let us know if you need a help from Fedora Developer Portal team.
We would be happy if Spanish, Portuguese or Czech is available. And of course the rest.

[2016-04-29 17:51] Jibec commented on #69
@phracek , I'm sorry but it's a misunderstanding. I gave a few advice for asknot-ng about translation and invited you to have a look.
We should only discuss asknot-ng in here.

[2016-05-03 11:46] Jibec commented on #69
@ralphbean : we finished french translation, can you please push content to the website please ?
I don't have any idea about the complexity of automation, if this is coming in the next days or in the month, we can wait. Please let me know so I don't bother you for a time.

[2016-05-03 13:01] ralphbean commented on #69
French translation being pushed now.

Automation is likely not too complicated.  It would require:
- [ ] Writing a simple cronjob.
- [ ] Installing that on `sundries01`.
- [ ] Creating a new ssh key pair for that task.
- [ ] Uploading the public key to openshift.

[2016-05-07 12:30] jaaf commented on #69
@ralphbean
Hi, thank you for your help.
I don't know if you had time enough to do what is proposed above but something strange is happening.
I translated the whole site more than a week ago. Since I waited for a new updating of the site. Today I checked it once again. The site appears to have been updated  as some translated sentences have been changed. But, strangely,  a lot of already translated

[2016-05-17 13:43] adtac opened #71 "Custom page after all questions end"
Currently (at least at whatcanidoforcoala.org) after the last option ends, the first option loops back. It would be great if we could have a custom page (so that we can redirect the user to the IRC/gitter page for more questions). Or if this feature already exists, how could we implement this?

[2016-05-17 13:50] ralphbean commented on #71
You could add a special question at the end of the list that does this?  Or, do you want something more automatic (i.e., literally redirect the user once they loop past the last question?)

[2016-05-17 14:07] adtac commented on #71
Would that special page still need to have the two options? (I'm sorry, I'm not experienced with this). If we can disable the options for that page, that's perfect.

[2016-05-17 14:07] hypothesist commented on #71
Would that special page still need to have the two options? (I'm sorry, I'm not experienced with this). If we can disable the options for that page, that's perfect.

[2016-05-17 14:08] justwheel commented on #22
It was noted in a channel this morning that this issue might also be related to accessibility issues, like if a person is browsing the site on a normal browser while zoomed in very high. Solving this issue might also help make it easier for people with vision problems who are visiting the site.

[2016-05-20 02:27] ghost opened #72 ""Fedora Infrastructure Apps" is cannot scrolled, therefore some button cannot be clicked."
At "Fedora Infrastructure Apps" list of this asknot, the lower side of list is out of the screen. Therefore it can not be selected.
![screenshot from 2016-05-20 11-20-41](https://cloud.githubusercontent.com/assets/17140762/15415329/ef782fc2-1e7c-11e6-87e5-f5b7ec783110.png)

If I disable the web-browser menu-bar, then the lower side of list is inside this screen, therefore it can be selected.
But i

[2016-05-25 04:48] ghost opened #74 "Why there is the underline under the Home's button."
There is an underline under the Home's button.

![screenshot from 2016-05-25 13-55-02](https://cloud.githubusercontent.com/assets/17140762/15528716/7227cc90-2281-11e6-9627-2f95d11e0009.png)
(Because of description, I added red color drawing to the screenshot.)

I guessed that the line is displaying that currently status of this page.
But, though I clicked "Totaly" etc and the status of page change

[2016-06-02 06:01] Jibec commented on #69
@ralphbean can we plan to have a manual push in the next days, before release of F24 ?
If so, it would be great to send and email to trans@ so teams know (tell me if you wish me to do it)
thanks for your help !

[2016-06-12 22:49] jschwarzwalder commented on #22
Another instance of text overlap.
![screenshot_2016-06-11-02-08-38_1024](https://cloud.githubusercontent.com/assets/8946787/15994297/2bbbd246-30b5-11e6-9eb4-8341290130af.png)

Is there a known solution?

[2016-08-21 16:50] afranke commented on #53
There wasn't much interest in keeping this, we didn't renew the domain name. @sils1297 you can drop the gear. This issue can probably be closed.

[2016-08-21 17:21] sils commented on #53
Yep, assuming this is GNOME only this can be closed as the website doesn't really exist anynmore.

[2016-08-21 17:21] #53 closed

[2016-08-29 09:45] sanjayankur31 opened #75 "Add something on the lines of "want to speak to a human? Head to fedora-join!""
We're trying to get newbies to come to the fedora join channels which were set up for this very purpose. Having it on whatcanidoforfedora would really help.

https://fedoraproject.org/wiki/Fedora_Join_SIG

[2016-09-10 01:14] vharsh commented on #22
Text overlap, screenshots
Test system details
Fedora-24 workstation running on 1366X768 resolution laptop without zoom.
URL:[ WhatCanIdoForFedora > Java > Java Special Interest group](http://whatcanidoforfedora.org/en/#coding#java#java-special-interest-group)

**Firefox 48.0.1** Size of the body element = 1366 X 633
![screenshot from 2016-09-10 06-17-16](https://cloud.githubusercontent.com/assets/

[2016-09-12 17:41] Sadin commented on #22
I really believe the core of this issue is due to a lot of floating/hard positioned elements clashing because of this default theme being a modified Bootstrap Example theme. Im going to be taking a look again into this.

[2016-09-12 18:15] Sadin commented on #74
Gonna look at this, this is residual code from the base theme we based asknot-ng's theme off of.

[2016-09-12 18:23] Sadin commented on #71
@adtac So what you're asking is when they get to the end of the list on the main tier instead of having it loop back that it redirect. What I would say would be best is to try what @ralphbean mentioned and add a final page that suggests one checkout irc or even telegram ( provide links and possibly a irc instructions link ) but also gives them the choice to run by the options one more time and che

[2016-09-12 18:31] adtac commented on #71
@Sadin thanks :+1: That _should_ do it, I think. We'll test it out.

BTW I'm closing this issue, I had no idea it's still open :P

[2016-09-12 18:31] #71 closed

[2016-09-12 18:32] Sadin commented on #40
Closing if this is resolved.

[2016-09-12 18:32] #40 closed

[2017-03-29 16:50] Jibec commented on #69
I think this have been done a long time ago, thanks again

[2017-03-29 16:50] #69 closed

[2017-04-22 15:56] fredericolima opened #77 "whatcanidoforfedora.org don't have brazilian portuguese language option"
Hi,
on getfedora.org we have a option to change the language on "America" for "português do Brasil" that redirects to ".../pt_BR/" translated version.
On whatcanidoforfedora.org we don't have "português do Brasil" option anywhere.
Also can you make an autodection of the language like getfedora.org?
Thanks and sorry to bother you.

[2017-04-24 14:56] ralphbean commented on #77
I just pulled the latest translations from zanata in #78.

Can you check http://whatcanidoforfedora.org/pt_BR/ to see if it looks right?

[2017-07-25 20:16] meskobalazs opened #80 "Missing glyphs in Fedora theme for Hungarian"
Right now the Fedora theme uses the "Open Sans" font, which is good, but it is missing the "ő" and "ű" glyphs, which leads to a not-so-nice result. What could we do to remedy the situation?

The page looks like this right now:
![Screenshot about](https://user-images.githubusercontent.com/9340769/28591673-cc7bcbf6-7186-11e7-8b1c-478ad3d9464e.png)

The "ő" really looks out of place.

[2017-07-30 10:45] meskobalazs commented on #80
Switching the included `open-sans.ttf` to the Latin Ext version from Google Fonts works, but we should try to find a solution which works for everyone else too.

[2017-07-30 11:01] meskobalazs opened #81 "Invalid TLS certificate at whatcanidoforfedora.org"
I am not quite sure, that I should report it here, but the TSL cert is wrong at the site, as it is only valid for `*.rhcloud.com, rhcloud.com`.

[2017-08-31 15:15] pwnfoo opened #83 "Button overlaps footer on smaller displays"
Screenshot :
![screenshot from 2017-08-31 11-14-03](https://user-images.githubusercontent.com/9546091/29930867-a26e242a-8e3d-11e7-8297-684ac65ad43a.png)

Screen Resolution: 1366x768

[2018-02-21 03:50] ct-martin opened #88 "Add Cockpit as a project"
Rolekit does not appear to have a home anymore. Given the most recent mentions I could find[[1]](https://fedoraproject.org/wiki/Changes/Cockpit_Domain_Controller_GUI)[[2]](https://fedoramagazine.org/fedora-21-server-test-day/), Cockpit seems to have replaced it. When looking at the project repo's language breakdown I was not sure which question section would be the most appropriate for it.

[2018-03-03 15:17] meskobalazs commented on #81
It is now using Let's Encrypt, I am closing it now.

[2018-03-19 14:21] sanjayankur31 commented on #75
Hi! @Sadin - any thoughts on how this would work?

[2018-03-19 14:22] sanjayankur31 commented on #75
I was wondering if a "Speak to a human" link on each "page" that we could redirect to the respective team's chat channel possibly would work to start with?

[2018-03-19 17:17] Sadin commented on #75
Sure, this makes sense to me but here are some thoughts.

Currently, each option that is presented to a user has a link to documentation on how to join and start contributing. Im all for lowering the barrier of entry, thats what this website does, but I worry if this will create a "feedback loop" so to speak.

If we get people directly in to IRC, more than likely what will happen is:

- They will

[2018-03-19 17:19] #74 closed

[2018-03-20 13:53] ralphbean commented on #75
That's valid @Sadin, but I figure a link in the footer couldn't hurt.  If it overpowered the central question/answer content, that would be a different story I guess.

[2018-03-20 13:55] ralphbean commented on #75
Oh, I misread.  When I wrote the above, I was thinking about putting a static link to the Join SIG in the footer.

I see now the suggestion about putting a dynamic link to each sub-team's IRC channel on each node of the Q/A tree.  That might get a little crowded in the UI... plus it would drop people into those ephemeral chat client where they would join, ask a question, and then quit before anyon

[2018-03-20 13:57] Sadin commented on #75
@ralphbean exactly, I remember how it was when I joined a group. I foresee this loopback occurring. Not to mention the UI Is already cluttered on smaller resolutions.

Id like to open a ticket to revise the UX to work on more device types if thats cool?

[2018-03-20 16:53] sanjayankur31 commented on #75
I'd take a static link in the footer to the Join SIG's channels too.

While I do understand your concerns about the "loop", that applies to folks who are experienced/confident enough to know where they want to contribute. For people who are not, speaking to a human is more useful - it makes them feel at ease. So, a link to the Fedora Join IRC channel would be nice to begin with.

Once the hubs hit

[2018-03-20 17:20] Sadin commented on #75
There are two parts to my concern, you nailed the first part right on the head.

While I understand speaking to a human is what they want, its more useful, and it puts them at ease, there is still the fact of not all IRC channels are considered equal in terms of activity/use. The nature of new people, more often than not, who are not experienced or confident is to join IRC not get a response in wh

[2018-03-20 19:21] Sadin commented on #72
Im looking into this as well as other UI related issues this week.

[2018-03-20 19:23] Sadin commented on #83
Working on this issue this week as well.

[2018-03-20 19:24] Sadin commented on #77
Closing for now. Please feel free to reopen if not fixed @fredericolima

[2018-03-20 19:24] #77 closed

[2018-03-20 19:27] Sadin commented on #49
Closing for now. Reopen if pressing.

[2018-03-20 19:27] #49 closed

[2018-03-20 19:30] Sadin opened #91 "Relocate asknot-ng to Pagure.io?"
@ralphbean @stickster thoughts?

[2018-03-21 14:08] stickster commented on #91
I don't have an opinion on this, but I think the issue should state what problem this aims to solve.

[2018-03-22 13:18] ralphbean commented on #91
Ditto :)  @Sadin, if you want to own `asknot-ng` (and you can!) and if you'd rather work out of pagure.io, by all means go for it.

[2018-03-22 23:16] stickster commented on #91
Agreed, if the problem is "nobody's working on this, and I want to," it should be wherever that person wants to work. 👍

[2018-03-23 00:41] Sadin commented on #91
Alrightly then, Its not my project. But its one I care about so Im hard at work fixing issues that are open. I wanted some third party opinions on wether or not we should or NEED to move it to pagure. Thanks guys!

[2018-03-25 22:37] #91 closed

[2018-04-08 05:02] fredhgl commented on #77
@ralphbean
in whatcanidoforfedora.org we can't select portuguese from Brazil, just portuguese from Portugal.
In getfedora.org we can select it from America
<img width="960" alt="ptbr" src="https://user-images.githubusercontent.com/16179881/38463413-ccedf140-3ad0-11e8-93b4-752cfc5a1e3f.png">
can you fix this?

[2018-11-16 11:53] gundalow opened #92 "Any details on how well this is working?"
Hi,
Apologies for slight miss use of GitHub issue, though I couldn't see any contact detail. Happy to be redirected else where.

Just found this project and it looks very cool. I like how you ask people what they are interested, rather than  telling them the things they could do.

Do you have any stats (or gut feel) on how well whatcanidoforfedora.org has been received and if it's had a positive e

[2018-11-16 14:15] ralphbean commented on #92
Hey, I think the mozilla people have had a *ton* of positive use of theirs.  I see this by how they act in IRC.  Existing contributors actively share deep links to their pages (like this one https://whatcanidoformozilla.org/#!/progornoprog/translate ) with new people when they come along.  I wanted to recreate that experience, but their tooling for their site wasn't flexible or re-usable.  That's

[2018-11-19 16:58] justwheel commented on #92
I think it's one of the best-advertised on-boarding tools in the Fedora community. It even came up in a [Contributor Story](https://communityblog.fedoraproject.org/faw-2018-day-3-becoming-part-of-fedora-family-because-of-her/) on the Community Blog during Fedora Appreciation Week. I believe there is also other messaging used at conference presentations and booths for WCIDFF.

For page views, @matt

[2019-01-23 16:06] phuzion opened #98 "Remove Tagger"
[As Tagger has been retired](https://pagure.io/fedora-infrastructure/issue/7267#comment-534858), it should no longer be suggested as a project that people can work on.

[2019-02-05 02:30] relrod commented on #98
fixed by 751070e795b30a3584b539a0267e110f51bdf947

[2019-02-05 02:30] #98 closed

[2019-09-27 10:11] cverna opened #100 "Remove fedmenu from asknot-ng"
The fedmenu project is not really maintained anymore and will be soon archived. We should remove fedmenu from this application.

https://github.com/fedora-infra/asknot-ng/search?q=fedmenu&unscoped_q=fedmenu

[2019-10-05 21:44] termdew commented on #72
I think, that this issue is not relevant anymore, as issue #100 suggests the removal of fedmenu.

[2019-10-07 07:43] #100 closed

[2019-10-07 07:44] cverna commented on #72
Yes let's close that, thanks @lightlace for looking at that.

[2019-10-07 07:44] #72 closed

[2019-10-07 07:44] #88 closed

[2019-10-07 16:04] termdew commented on #83
Tried to reproduce it today, but there is no overlap happening anymore.
Issue can therefore be closed, i guess.

![askbot-ng](https://user-images.githubusercontent.com/23658248/66328044-3182cf80-e92c-11e9-97a1-4d6ecae9c5e0.png)

[2019-10-08 18:11] termdew commented on #36
Not happening in the latest develop branch, can be closed.
![visuals](https://user-images.githubusercontent.com/23658248/66421243-c9a1b700-ea07-11e9-9b3b-b326605a693b.png)

[2019-10-10 17:52] termdew commented on #31
I guess that "asknot-ng.py" does the job already..

[2019-10-16 12:36] #42 closed

[2019-10-16 12:38] cverna commented on #31
Let's close this then :-)

[2019-10-16 12:38] #31 closed

[2019-11-18 17:32] hhlp opened #105 "Build and Run as Container adn Expose to My box"
I successfull build but I don't know how to run?

REPOSITORY                     TAG      IMAGE ID       CREATED          SIZE
localhost/asknot               latest   b08d90b615d7   28 minutes ago   660 MB

Is there any additional parameters that I've had to use:

[code]
In my browser box

whacanidoforfedora.org:8080

but I can't connect....

Is there something I'm missing? or Doing in a inappropi

[2019-11-19 14:04] cverna commented on #105
I believe you need the --net=host flag in that podman command, to tell podman to use you host networking instead of creating a virtual bridge.

so the command would be

[code]

[2019-11-19 19:03] #105 closed

[2019-11-21 12:47] hhlp opened #106 "What is the Proper Way to do a Pull Request?"
1. Anyone can Collaborate, or Are you in charge of maintain it?
2. What is the proper way to work?
     * Create a fork
     * Changes will make in which branch or I can create one Branch ex. Issues, fix it it and pull    request like I do in pagure.
3. Are you planning to remove it as part of your CPE thing?

Problem I found, and fix it:

* I can't make run asknot in a container
* I can't compile

[2019-12-02 09:50] hhlp commented on #106
done pull request #107

[2019-12-02 09:50] #106 closed

[2019-12-13 17:58] hhlp commented on #16
I recommend close this ticket:

@cverna

regards.,

[2019-12-14 15:58] #16 closed

[2020-01-01 12:18] Jibec opened #109 "please migrate to the new Fedora translation platform"
Hello, the Fedora project migrates its translation platform to Weblate [1].

This tool directly interact with your git repository, and requires us to know:
* [mandatory] which branch is your development branch?
* [mandatory] have you merged latest translation from Zanata and locked the project?
* [info] Weblate will handle updates when pot file changes, don't edit po files for this [2]
* [optional

[2020-01-06 12:51] cverna commented on #109
develop

no

[2020-01-06 13:07] Jibec commented on #109
Le 2020-01-06 13:51, Clement Verna a écrit :

please just merge latest translations and lock the project.
I have everything I need to migrate your project.

[2020-01-06 13:15] cverna commented on #109
I have no idea on how to do that, I also don't think that I am the maintainer of this project in Zanata so I probably cannot lock it :P

[2020-01-06 13:35] Jibec commented on #109
Owner is ralph: https://fedora.zanata.org/project/view/asknot-ng/people
Pulling existing translations is easy, would you like me to open a PR?

[2020-01-06 16:22] cverna commented on #109
Yeah that would be great :)

@ralphbean would you be able to lock the project on zanata ?

[2020-01-06 20:40] Jibec commented on #109
sorry, I could have done only one PR, do not hesitate to squash it if this matters to you.

I've tried to update pot file, but the script fails. When is the last time you updated it?

[2020-01-13 22:16] Jibec commented on #109
Kind remember, I don't know how to fix the pot issue, it requires your attention.

[2020-01-14 11:48] cverna commented on #109
@Jibec what was the error  ? and the steps you have followed ?

[2020-01-14 12:05] Jibec commented on #109
I followed the readme:
https://github.com/fedora-infra/asknot-ng#preparing-translations

The python script failed, telling me a path or parameter was missing.
But if this works for you, just commit the generated pot.

[2020-01-14 12:24] cverna commented on #109
Fixing the script https://github.com/fedora-infra/asknot-ng/pull/112

Update pot file https://github.com/fedora-infra/asknot-ng/pull/113

[2020-01-16 07:46] cverna commented on #109
@Jibec it should be all done now.

[2020-01-16 12:47] Jibec commented on #109
Done:
https://translate.stg.fedoraproject.org/projects/fedora-infra/asknot-ng/

cverna is admin.

Weblate will update po files automatically

[2020-01-16 12:59] cverna commented on #109
Thanks @Jibec, closing this now

[2020-01-16 12:59] #109 closed

[2020-01-18 13:44] Jibec opened #115 "What websites are we translating, and what is the deployement frequency?"
If I understand correctly, in the https://github.com/fedora-infra/asknot-ng/tree/develop/questions folder:

- https://github.com/fedora-infra/asknot-ng/blob/develop/questions/gnome.yml is http://gnome.schuirmann.net
- https://github.com/fedora-infra/asknot-ng/blob/develop/questions/coala.yml is http://coala.schuirmann.net
- https://github.com/fedora-infra/asknot-ng/blob/develop/questions/fedora.ym

[2020-01-19 18:08] cverna commented on #115
Can you create an independent issue for that ?

We have a production and staging branch that trigger a deployment in each environment. I have merged the latest develop to these 2 branches so the new translation should be available now.

[2020-01-19 18:08] #115 closed

[2020-02-17 15:55] p4r4xor commented on #83
May I work on this issue? Can reproduce this now.
Resolution: 1366 X 768
![Screenshot from 2020-02-17 21-22-42](https://user-images.githubusercontent.com/49688892/74668685-bed40b80-51cb-11ea-98e9-a805b38fc50c.png)

[2020-02-19 05:30] pwnfoo commented on #83
@p4r4xor Feel free to send PRs. I'm sure someone will look at it.

[2020-02-21 12:59] cverna commented on #83
Yes I ll be happy to review a PR :-)

[2020-02-23 23:29] mymindstorm opened #121 "German version of the site is broken"
https://whatcanidoforfedora.org/de/

[code]

[2020-02-24 19:14] mymindstorm commented on #121
There was a trailing period on [this string](https://translate.fedoraproject.org/translate/fedora-infra/asknot-ng/de/?q=+Websites+Team&checksum=&offset=1#history). Should be fixed when weblate syncs.

[2020-02-25 07:59] cverna commented on #121
This was fixed in production and staging, thanks again for looking after that :-)

[2020-02-25 07:59] #121 closed

[2020-03-26 17:59] Sadin commented on #83
Back in action :) I can take a look as well.

[2020-06-13 22:12] chrissmiley0101 opened #130 "Some security findings"
Hi,
I just wanted to let you know that our team have been helping out a bunch of open source projects by running security checking tools through some DevOps automation we setup.  We’ve found some items for you over at https://source-security.co.uk/5feba7d9-3389-4e03-9c64-08106e8e86f4/.
Thanks, Chris

[2021-04-10 11:05] simmon-nplob opened #139 "web service restart request"
web service restart request

[2021-11-03 13:48] Zlopez opened #146 "Babel extractor doesn't work"
I tried to extract new pot with updated strings using the [guide](https://github.com/fedora-infra/asknot-ng#preparing-translations) in README.md.

The extractor fails with following:
[code]

I tried to look at the issue, but I wasn't able to understand how the `entry_points` for `babel` actually works.

[2021-11-03 13:52] Zlopez opened #147 "Migrate CI to Zuul"
asknot-ng is currently using travis-ci.org as CI, which is no longer supported. It would be better to migrate to Zuul, which has it's own fedora instance.

Here is the [wiki page](https://fedoraproject.org/wiki/Zuul-based-ci#How_to_attach_a_Pagure_repository_on_Zuul) with guide, how to do it.

[2021-11-03 19:40] hhlp commented on #146
@zlopez I don't get any message normal Workstation here, with the procedure explained below works well here:

python setup.py extract_messages --output-file l10n/fedora/locale/asknot-ng.pot --input-dir=.

[code]

python code

[code]

see:

https://stackoverflow.com/questions/57826842/how-to-fix-valueerror-unknown-extraction-method-jinja2-error-in-python-j

-> reinstall babel library manually using

[2021-11-03 19:55] hhlp commented on #147
that is for Pagure, assuming you have got a repository hosted on pagure.io.

-> https://zuul-ci.org/docs/zuul/reference/drivers/github.html

Regards.,

[2021-11-04 09:22] Zlopez commented on #146
Are you running python 3.10?

I tried to update the setuptools, but I still have the same issue. Following is the list of packages in virtual environment.
[code]

[2021-11-04 09:24] Zlopez commented on #147
Thanks, I know the GitHub guide is somewhere. I have the Zuul setup in [Anitya](https://github.com/fedora-infra/anitya), so I was sure this could be done.

[2021-11-04 09:40] hhlp commented on #146
Yes ., Fedora 35

[code]

This is my list in venv, this is all you need to work:

[code]

setupptools diferent to yours in my case took from system environment.

[code]

Regards.,

[2021-11-04 11:49] Zlopez commented on #146
I found out, I was missing the `asknot-ng` itself. Thanks for helping me

[2021-11-04 11:49] #146 closed

[2021-11-04 14:41] hhlp opened #148 "Project needs some tweaks"
The changes are the following:

1.- Change favicon with the new one->
2.- Also occurs with the new fedora logo and fedora logo inverted -> https://src.fedoraproject.org/rpms/fedora-logos.

According to this issue in fedora design team -> https://pagure.io/fedora-design/spot-the-old-logo/issue/7

3.- Remove some Directories which is not necesary at all, bring in some way from the original project:

[2021-11-04 15:40] hhlp opened #149 "Projects needs to be sync with the new ORG. chart"
1.- https://docs.fedoraproject.org/en-US/project/orgchart/

### REFERENCES

https://discussion.fedoraproject.org/t/what-to-do-with-wcidff-warning/13302
https://discussion.fedoraproject.org/t/status-of-whatcanidoforfedora-org/34168

Regards.,

[2021-11-06 14:30] hhlp opened #150 "Update Fonts Monserrat and OpenSans"
Monserrat:

1.- https://fedoraproject.org/wiki/Montserrat_Fonts
2.- https://github.com/JulietaUla/Montserrat/

https://src.fedoraproject.org/rpms/julietaula-montserrat-fonts

OpenSans:

1.- https://fedoraproject.org/wiki/Open_Sans_fonts
2.- https://fonts.google.com/specimen/Open+Sans

https://src.fedoraproject.org/rpms/open-sans-fonts

Regards.,

[2021-11-19 11:07] hhlp commented on #150
Your issue is to old, the site was suffer some change across the time and your issue could be obsolete, if you problem come again, feel free to open a new one.

[2021-11-19 11:07] #150 closed

[2021-11-19 11:07] hhlp commented on #148
Your issue is to old, the site was suffer some change across the time and your issue could be obsolete, if you problem come again, feel free to open a new one.

[2021-11-19 11:07] #148 closed

[2021-11-19 11:08] hhlp commented on #139
Your issue is to old, the site was suffer some change across the time and your issue could be obsolete, if you problem come again, feel free to open a new one.

[2021-11-19 11:08] hhlp commented on #92
Your issue is to old, the site was suffer some change across the time and your issue could be obsolete, if you problem come again, feel free to open a new one.

[2021-11-19 11:09] hhlp commented on #83
Your issue is to old, the site was suffer some change across the time and your issue could be obsolete, if you problem come again, feel free to open a new one.

[2021-11-19 11:09] hhlp commented on #80
Your issue is to old, the site was suffer some change across the time and your issue could be obsolete, if you problem come again, feel free to open a new one.

[2021-11-19 11:09] hhlp commented on #75
Your issue is to old, the site was suffer some change across the time and your issue could be obsolete, if you problem come again, feel free to open a new one.

[2021-11-19 11:09] hhlp commented on #36
Your issue is to old, the site was suffer some change across the time and your issue could be obsolete, if you problem come again, feel free to open a new one.

[2021-11-19 11:10] hhlp commented on #22
Your issue is to old, the site was suffer some change across the time and your issue could be obsolete, if you problem come again, feel free to open a new one.

[2021-11-19 11:33] #75 closed

[2021-11-19 12:02] meskobalazs commented on #80
Does your PR fix this? Otherwise I do not see why this is would be obsolete.

[2021-11-19 12:21] hhlp commented on #80
yes I've updated Monserrat and Open Sans from STATIC to UPSTREAM.

https://fedoraproject.org/wiki/Logo/UsageGuidelines#Fonts
https://fedoraproject.org/wiki/Montserrat_Fonts
https://fedoraproject.org/wiki/Open_Sans_fonts

[code]

However is the problem persist will be a FONT isuses and not an Aplication issue....

Regards.,

[2021-11-19 12:36] simmon-nplob commented on #139
I agree. thanks response....but so late!

[2021-11-19 12:40] #139 closed

[2021-11-22 20:43] Sadin commented on #22
Closing. Reopen if still relevant.

[2021-11-22 20:43] #22 closed

[2021-11-26 21:19] #36 closed

[2021-11-26 21:19] #80 closed

[2021-11-26 21:19] #83 closed

[2021-11-26 21:19] #92 closed

[2022-08-15 12:38] hellcp opened #165 "Developing openSUSE version of the site"
Hi,

I've started work on [openSUSE/asknot-ng](https://github.com/openSUSE/asknot-ng), and before I needlessly PR I'm curious if you would accept changes like these into upstream? We would most likely want to use our own weblate instance as well ([l10n.opensuse.org](https://l10n.opensuse.org)). I'm not sure how well double weblate integration in one repository works tbh, but maybe it's worth testi

[2022-08-16 09:35] Zlopez commented on #165
I'm not really a maintainer of this project, I was just the last one who worked on it. But I like to see collaboration like this much more and if you have anything that the Fedora asknot-ng could benefit from we would gladly see the PR. :-)

[2022-08-16 09:44] hellcp commented on #165
I don't really have much to offer in terms of fixes to the script or template, but rather basically just openSUSE theme and data files

[2022-08-16 09:49] Zlopez commented on #165
In this case I think this could stay in openSUSE fork